* {
	margin:0;
	padding:0;
}

body{
	font: normal 16px Arial, Helvetica, sans-serif;
}

h1, h3{
	font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
}


/*-----------------
	The Header
------------------*/

header {
	position: fixed;
	top: 0;
	left:0;
	right:0;

	height: 40px;
	z-index: 100;

	background-color: #282b2c;
	padding: 20px 40px;
	color: #fff;
	box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}

.button-header {
	background-color: #5895DB;
	border: none;
	color: white;
	padding: 5px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 19px;
	cursor: pointer;
	margin: 4px 2px;
	border-radius: 4px;
	float: right;
	opacity:0.9;
}

header a{
	font: normal 24px 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 18px;
	border-radius: 3px;
	color: #fff;

}


@media (max-width: 500px){

	header {
		padding: 20px 15px;
	}

	header h1{
		font-size: 24px;
		margin: 0;
	}

}

/*-----------------
	Main Content
------------------*/
#myInput{
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	font-size: 16px;}

.main-content{

	box-sizing: border-box;
	/*text-align: center;*/
	text-align: left;
	margin: 125px auto 60px;
	padding: 0 40px;
}

.main-content h3{
	font-size: 28px;
	color:  #5a96b9;
	padding-bottom: 20px;
}

@media (max-width: 600px){

	.main-content{
		margin: 45px auto;
		padding: 0 25px;
	}

}


/*---------------------------
	Error Page
----------------------------*/

.error{
	opacity: 0;
	transition: 0.6s;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
}

.error.visible{
	opacity: 1;
}

.error h3{
	font-size: 40px;
}

